<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block basestylesheets %}
        <link rel="stylesheet" href="/css/index.css">
        {#        <!-- bootstrap css include -->#}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock %}
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<div id="viewport">
    {% block navigatie %}

        <div id="sidebar">
            <header>
                {{ User.username }}
            </header>
            <ul class="nav">
                <li>
                    <a href="{{ path('projects') }}">Projects</a>
                </li>
                <li>
                    <a href="{{ path('docker') }}">Docker</a>
                </li>
                <li>
                    <a href="#">Run project</a>
                </li>
                <li>
                    <a href="{{ path('logout') }}">Logout</a>
                </li>
                <li>
                    <a href="{{ path('test_casus') }}">test casus</a>
                </li>
            </ul>
        </div>

    {% endblock %}
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}

</body>
</html>