{% extends 'base.html.twig' %}

{% block title %}Hello ProjectsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if Error is not empty %}
     <h3>{{ Error }}</h3>
    {% endif %}
    {% if Projects %}
        {% for project in Projects %}
            {#      Returns the absolute URL (with scheme and host) for the given route. If schemeRelative is enabled, it'll create a scheme-relative URL.#}
            <a href="{{ path("Project", {project_name: project.projectname}) }}">
                {{ project.projectname }}
            </a>
        {% endfor %}
    {% else %}
        {{ Responce }} <br>
        <a href="{{ path('uploadproject') }}">upload a Project</a>
    {% endif %}
</div>
{% endblock %}
