{% extends 'base.html.twig' %}

{% block title %}Hello DockerdashboardController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/popup.css">
{% endblock %}

{% block body %}
    <main>
        <div id="container status">
            {{ Container.Image }} <br>
            {{ Container.State }}:
            {{ Container.Status }}
            <br><br>
        </div>

        <div id="docker buttons">
            <button id="start" onclick="sendaction('start-project')">start Project</button>
            <button id="stop" onclick="sendaction('stop-project')">stop Project</button>
            <button id="pause" value="pause" onclick="sendaction('pause-project')"> pause Project</button>
        </div>


        <button id="popupBtn" style="background-color: red">Delete Project</button>

        <div id="popupID" class="popupclass" >

            <!-- popup content -->
            <div class="modal-content">
                <t>for deleting your project enter your password</t>
                <label>Password:</label>
                <input type="password" name="password" id="Password">
                <button id="submit" onclick="deleteProject()">submit</button>
                <button class="close">&times; cancel</button>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script>
        // Get the modal
        var modal = document.getElementById("popupID");

        // Get the button that opens the modal
        var btn = document.getElementById("popupBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        function sendaction(value) {
            if (value === 'stop-project') {
                document.getElementById("stop").disabled = true;
                document.getElementById("start").disabled = false;
                document.getElementById("pause").disabled = true;
            } else if (value === 'start-project') {
                document.getElementById("stop").disabled = false;
                document.getElementById("start").disabled = true;
                document.getElementById("pause").disabled = false;
            } else if (value === 'pause-project') {
                pause = document.getElementById("pause");
                if (pause.value === "pause") {
                    document.getElementById("start").disabled = true;
                    this.value = "pause-project";
                    pause.innerHTML = "unpause Project";
                    pause.value = "unpause";
                } else if (pause.value === "unpause") {
                    document.getElementById("start").disabled = false;
                    this.value = "unpause-project";
                    pause.innerHTML = "pause Project";
                    pause.value = "pause";
                }
            }
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/project/{{ Project.ProjectName }}/" + this.value, true);
            xhttp.send();
        }
        function deleteProject() {
            let xhr = new XMLHttpRequest();
            let data = new FormData();

            let password = document.getElementById("Password").value;

            if(password === ""){
                document.getElementById("Password").placeholder = "no password has been entered"
            } else {
                xhr.open('POST', "{{ path("deleteProject") }}", true);
                // post data
                data.append("password", password);
                data.append("project", "{{ Project.ProjectName }}");

                // on succes
                xhr.onload = function () {
                    window.location.href = "{{ path("projects") }}"
                };

                // send request with data
                xhr.send(data);
            }
        }
    </script>
{% endblock %}